<div class="cart">
    <header>
        <ul>
            <a href="/" class="nandi">
                <li>nandi's.<strong style="color: #CE3B29;">BOUTIQUE</strong></li>
            </a>
            <a href="/">
                    <li>HOME</li>
                </a>
            <a href="/shop">
                <li>SHOP</li>
            </a>
            <a href="#about">
                <li>ABOUT</li>
            </a>
            <a href="#enquiery">
                <li>ENQUIRY</li>
            </a>
            <a href="#">
                <li>CREATE ACCOUNT</li>
            </a>
        </ul>
    </header>
    <br><br><br>
    <div class="shoppingCart">
        {{!-- image should not be hard coded --}}
        <img name="dress" src="/IMAGES/dress1.jpg" alt="">

        {{!-- <div>
            {{productChosen}}
            <span>{{price}}</span>
        </div> --}}

        {{!-- need to find appropriate inputs --}}
        <div class="pop-up">
            <div class="content">
                <div class="close">
                    <h1 style="">Your Cart</h1>
                    <a href="#">+</a>              
                </div>
                <table>
                    <tr>
                        <td>huisahdiuas</td>
                    </tr>

                    <tr>
                        <td>iuguyfuyf</td>
                    </tr>

                    <tr>
                        <td>huisahdiuas</td>
                    </tr>

                    <tr>
                        <td>iuguyfuyf</td>
                    </tr>
                    
                </table>

            </div>
        </div>

        <form action="/addToCart" method="POST">

            <h3>Sizes</h3>
            <select id="sizes" name="size" <option value="XS">XS</option>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
            </select>
            <br><br>
            <h3>Quantity</h3>
            <select id="quantity" name="quantity">
                <option value="one">One</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
            </select>
            <button type="submit">Add To Cart</button>
        </form>
    </div>

    

    <footer>
        <div class="content">
            <div class="box">
                <h2>Customer Care</h2>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Careers At Nandi's</a></li>
                    <li><a href="#">FAQS</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Store Location</a></li>
                </ul>
            </div>
            <div class="box" id="about">
                <h2>About</h2>
                <p>Nandi's boutique is a destination for style seekers. Located in Waterfront, Cape Town dedicated
                    to ethical fashion
                    and accessories.</p>

                <p>Spliced on the rack, you will discover a mix of your favourite boutique labels, lounge-wear and
                    lifestyle
                    products. Nandi presents small, regular collections from designers that are limited in nature
                    with a high
                    rotation. For man and women between the ages 16 - 28, all sizes, Nandi's is the go-to fashion
                    boutique. Purchases made at Nandi's
                    support suppliers and makers within South Africa - shop local, shop small!</p>

                <p>Feel inspired exploring a beautifully designed space that reflects a love for styling and
                    creating. Style tips
                    await from a small, warm team who adore fashion- the current, the classic and the refined.</p>

                <p>A truly authentic element of the store, owner Nandi Nkosi, produces in-house clothing labels.
                    Shoppers can order different colours in signature styles, and select from seasonal pieces
                    available instore.</p>

                <div>
                    &copy; Nandi's Clothing Line 2020
                </div>
            </div>
            <div class="box" id="enquiery">
                <h2>Enquiery</h2>
                <form action="#enquiery" method="POST">
                    <h3>Keep In Touch</h3>

                    <input name="name" type="text" required placeholder="Name">
                    <input name="email" type="email" required placeholder="Email">
                    <textarea name="message" placeholder="Message..."></textarea>
                    <button type="submit">Submit</button>
                </form>
                <div>
                    {{feedback}}
                </div>
            </div>
        </div>
    </footer>

</div>