<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nandi's Clothing Site</title>
</head>

<body>
    <div class="container">
        <header>
            <ul>
                <a href="#" class="nandi">
                    <li>nandi's<strong style="color: #CE3B29;">BOUTIQUE</strong></li>
                </a>
                <a href="/">
                    <li>HOME</li>
                </a>
                <a href="/shop">
                    <li>SHOP</li>
                </a>
                <a href="#about">
                    <li>ABOUT</li>
                </a>
                <a href="#enquiery">
                    <li>ENQUIRY</li>
                </a>
                <a href="#">
                    <li>CREATE ACCOUNT</li>
                </a>
            </ul>
        </header>

        <section class="home">
            <div class="center-con">
                <a href="#products">
                    <div class="round">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </section>
        <br>

        {{!-- my products --}}
        <div class="products">
            <h1 id="products">Featured Products</h1>
            <br>
            <h2>Women's Summer Dresses</h2>
            <table>
                <tr>
                    <td>
                        <a href="/cart"><img src="/IMAGES/dress1.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R {{price}}
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/dress5.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R 300
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/dress2.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/cart"><img src="/IMAGES/dress3.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/dress4.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/dress6.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                </tr>
            </table>
            <br>
            <h2>Men's T-Shirts</h2>
            <table>
                <tr>
                    <td>
                        <a href="/cart"><img src="/IMAGES/tshirts/shirt.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/tshirts/1.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/tshirts/2.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/cart"><img src="/IMAGES/tshirts/3.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/tshirts/4.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/tshirts/5.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                </tr>
            </table>
            <br>
            <h2>Women's Crop Tops</h2>
            <table>
                <tr>
                    <td>
                        <a href="/cart"><img src="/IMAGES/crop/1.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/crop/2.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/crop/3.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/cart"><img src="/IMAGES/crop/4.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/crop/5.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/crop/6.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                </tr>
            </table>
            <br>
            <h2>Women's Shorts</h2>
            <table>
                <tr>
                    <td>
                        <a href="/cart"><img src="/IMAGES/shorts/1.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/shorts/2.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/shorts/4.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/cart"><img src="/IMAGES/shorts/3.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/shorts/short.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/shorts/5.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                </tr>
            </table>
            <br>
            <h2>Men's Caps</h2>
            <table>
                <tr>
                    <td>
                        <a href="/cart"><img src="/IMAGES/caps/1.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/caps/2.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/caps/6.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/cart"><img src="/IMAGES/caps/3.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/caps/4.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/caps/5.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                </tr>
            </table>
            <br>
            <h2>Unisex Shades</h2>
            <table>
                <tr>
                    <td>
                        <a href="/cart"><img src="/IMAGES/shades/1.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/shades/2.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/shades/4.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/cart"><img src="/IMAGES/shades/3.jpg" alt=""></a>
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/shades/shades.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                    <td>
                        <a href="/cart"><img src="/IMAGES/shades/5.jpg" alt=""></a>
                        <strong class="item-name">Basic Summer Dress</strong>
                        Color of item <br>
                        R250
                    </td>
                </tr>
            </table>
        </div>

        <footer>
            <div class="content">
                <div class="box">
                    <h2>Customer Care</h2>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">Careers At Nandi's</a></li>
                        <li><a href="#">FAQS</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Store Location</a></li>
                    </ul>
                </div>
                <div class="box" id="about">
                    <h2>About</h2>
                    <p>Nandi's boutique is a destination for style seekers. Located in Waterfront, Cape Town dedicated
                        to ethical fashion
                        and accessories.</p>

                    <p>Spliced on the rack, you will discover a mix of your favourite boutique labels, lounge-wear and
                        lifestyle
                        products. Nandi presents small, regular collections from designers that are limited in nature
                        with a high
                        rotation. For man and women between the ages 16 - 28, all sizes, Nandi's is the go-to fashion
                        boutique. Purchases made at Nandi's
                        support suppliers and makers within South Africa - shop local, shop small!</p>

                    <p>Feel inspired exploring a beautifully designed space that reflects a love for styling and
                        creating. Style tips
                        await from a small, warm team who adore fashion- the current, the classic and the refined.</p>

                    <p>A truly authentic element of the store, owner Nandi Nkosi, produces in-house clothing labels.
                        Shoppers can order different colours in signature styles, and select from seasonal pieces
                        available instore.</p>

                    <div>
                        &copy; Nandi's Clothing Line 2020
                    </div>
                </div>
                <div class="box" id="enquiery">
                    <h2>Enquiery</h2>
                    <form action="#enquiery" method="POST">
                        <h3>Keep In Touch</h3>

                        <input name="enq_name" type="text" required placeholder="Name">
                        <input name="email" type="email" required placeholder="Email">
                        <textarea name="message" placeholder="Message..."></textarea>
                        <button type="submit">Submit</button>
                    </form>
                    <div>
                        {{feedback}}
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>