<div class="container">
    <header>
            <ul>
                <a href="/" class="nandi"><li>nandi's.<strong style="color: #CE3B29;">BOUTIQUE</strong></li></a>
                <a href="/shop"><li>STORE</li></a>
                <a href="/addToCart"><li>CART</li></a>
                <a href="#about"><li>ABOUT</li></a>
                <a href="#enquiry"><li>ENQUIRY</li></a>
                <a href="#"><li>CREATE ACCOUNT</li></a>
            </ul>
    </header>

    <div class="categories">
        <h1>Women's Summer Dresses</h1>
        <table>
            <tr>
                <td>
                    <a href="#"><img src="/IMAGES/dress1.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/dress2.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/dress2.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#"><img src="/IMAGES/dress3.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/dress6.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/dress6.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
            </tr>
        </table>
        <br>
        <h1>Men's T-Shirts</h1>
        <table>
            <tr>
                <td>
                    <a href="#"><img src="/IMAGES/tshirts/shirt.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/tshirts/2.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/tshirts/2.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#"><img src="/IMAGES/tshirts/3.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/tshirts/4.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/tshirts/4.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
            </tr>
        </table>
        <br>
        <h1>Women's Crop Tops</h1>
        <table>
            <tr>
                <td>
                    <a href="#"><img src="/IMAGES/crop/1.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/crop/2.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/crop/2.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#"><img src="/IMAGES/crop/3.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/crop/4.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/crop/4.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
            </tr>
        </table>
        <br>
        <h1>Women's Shorts</h1>
        <table>
            <tr>
                <td>
                    <a href="#"><img src="/IMAGES/shorts/1.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/shorts/2.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/shorts/2.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#"><img src="/IMAGES/shorts/3.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/shorts/short.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/shorts/short.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
            </tr>
        </table>
        <br>
        <h1>Men's Caps</h1>
        <table>
            <tr>
                <td>
                    <a href="#"><img src="/IMAGES/caps/1.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/caps/2.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/caps/2.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#"><img src="/IMAGES/caps/3.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/caps/4.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/caps/4.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
            </tr>
        </table>
        <br>
        <h1>Unisex Shades</h1>
        <table>
            <tr>
                <td>
                    <a href="#"><img src="/IMAGES/shades/1.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/shades/2.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/shades/2.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#"><img src="/IMAGES/shades/3.jpg" alt=""></a>
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/shades/shades.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
                <td>
                    <a href="#"><img src="/IMAGES/shades/shades.jpg" alt=""></a>
                    <strong class="item-name">Basic Summer Dress</strong> 
                    Color of item <br>
                    R250
                </td>
            </tr>
        </table>
    </div>
</div>