@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html {
    scroll-behavior: smooth;
    background-color: #fff;
}
body {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
header {
    margin: 0;
    background-color: #fff;
}
header ul {
    list-style-type: none;
    display: flex;
}
header ul a {
    text-decoration: none;
    color: #000;
    padding: 0 10px;
}
header ul a:hover {
    border-bottom: 1px solid #000;
}
header ul li {
    list-style-type: none;
}
header ul a:first-child {
    margin-right:15em;
    margin-left: 5em;
    font-size: 36px;
    font-weight: bold;
}
header ul a:first-child:hover {
    border: none;
}
.home {
    background-image: url("/IMAGES/bg.jpg");
    height: 46em;
    background-size: cover;
    margin: 0;
    /* background-repeat: no-repeat; */
}
.home .center-con {
    display: flex;
    position: relative;
    top: 32em;
    /* margin-top: 25em; */
    height: 10em;
    align-items: center;
    justify-content: center;
}
.round {
    position: relative;
    border: 3px solid #fff;
    background-color: #CDCACA;
    -webkit-box-shadow: 0 0 50px #000;
    box-shadow: 0 0 50px #000;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
span {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 20px;
    background: #fff;
    transition: 0.7s ease;
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}
.products {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
}
h2 {
    font-weight: lighter;
}
.products .products-sold {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
table tr td {
    padding: 60px;
    text-align: center;
}
tr td img {
    display: block;
    margin: 10px auto 10px auto;
}
tr td .item-name {
    font-size: 14px;
    display: block;
}
footer {
    background-color: #F7F7F7;
    width: 100%;
}
footer .content {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
footer .content .box {
    flex: 1;
}
footer .content h2 {
    font-size: 16px;
    border-bottom: 1px solid #000;
}
footer .content div {
    padding: 30px;
}
footer .box form {
    width: 100%;
}
footer .box form input, textarea {
    outline: none;
    display: block;
    background-color: #E6E6E6;
    margin: 15px 0;
    padding: 15px;
    border: none;
    border-radius: 30px;
    width: 90%;
}
footer .box form textarea {
    height: 8em;
    resize: none;
}
footer .box form button {
    width: 100%;
    margin: 15px 0;
    padding: 20px;
    border: none;
    border-radius: 30px;
    background-color: #000;
    font-weight: bold;
    outline: none;
    color: #fff;
    cursor: pointer;
}
textarea::-webkit-input-placeholder {color: #AAAAAA;}
textarea::-ms-input-placeholder {color: #AAAAAA;}
textarea:-ms-input-placeholder {color: #AAAAAA;}
input::-webkit-input-placeholder {color: #AAAAAA;}
input::-ms-input-placeholder {color: #AAAAAA;}
input:-ms-input-placeholder {color: #AAAAAA;}
footer .box form button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
footer .box ul li {
    list-style-type: none;
    margin: 10px 0;
}
footer .box ul li a {
    text-decoration: none;
    color: #000;
}
footer .box ul li a:hover {
    text-decoration: underline;
}

/* shopping page */
.categories {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    /* -webkit-box-shadow: 0 0 8px #000;
    box-shadow: 0 0 8px #000; */
}
.cart {
    background-color: #F7F7F7;
    height: 100%;
    width: 100%;
}
.shoppingCart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid #000; */
    height: 40em;
}
.shoppingCart img, form {
    padding: 40px;
}
.shoppingCart form {
    /* border: 1px solid #000; */
    width: 40%;
}
.shoppingCart form h3 {
    font-size: medium;
    text-align: center;
}
.shoppingCart form select {
    width: 100%;
    border: none;
    background-color: #F7F7F7;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 10px;
    font-size: medium;
    cursor: pointer;
}
.shoppingCart form button {
    margin-top: 2em;
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px 0;
    font-weight: normal;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}
.shoppingCart form button:hover {
    background-color: #000;
    color: #fff;
}